@keyframes mainAnim {
    0%   {background-color: rgb(208, 91, 255); left: 0px;top:100px;}
    25%  {background-color: rgb(180, 84, 209); left: 100px;top:150px;}
    50%   {background-color: rgb(192, 65, 241); left: 0px;top:100px;}
    75%  {background-color: rgb(211, 83, 243); left: -100px;top:150px;}
    100% {background-color: rgb(208, 91, 255); left: 0px;top:100px;}
  }
@keyframes bob {
    0% {top: 0px;}
    25% {top: 10px;}
    75% {top: -10px;}
    100% {top: 0px;}
}
@keyframes homeMovement {
    0% {top:0px;}
    25% {top:25px;}
    75% {top:-5px;}
    100% {top:0px;}
}
@keyframes entry {
    0% {left: -2500px;}
    100% {left: 0px;}
}
@keyframes hop {
    0% {top: 0px;}
    50% {top: -15px;}
    100% {top: 0px;}
}
body {
    background: rgb(194, 136, 228);
    color: rgb(134, 0, 0);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
    font-family: "Sixtyfour", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "BLED" 0,
      "SCAN" 0;
}



/* navigation menu */
nav {
    background: rgb(147, 61, 197);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-radius: 5px;
    position: relative;
    box-shadow: 0px 3px 10px 10px rgb(75, 21, 126);
    animation-name: entry;
    animation-duration: 2s;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(79, 0, 143);
    flex: 1;
    margin: 0;
    border-radius: 20px;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    margin-top: 25px;
    display: inline-block;
    padding: 0 10px;
}

.nav-li li:hover {
    color: blueviolet;
}
a {
    text-decoration: none;
    color: #fff;
    position: relative;

}

/* main container area beneath menu */
main {
    background: rgb(185, 116, 245);
    display: flex;
    margin-top: 20px;
    position: relative;
    border-radius: 25px;
    box-shadow: 0px 5px 10px 10px blueviolet;
    animation-name: entry;
    animation-duration: 4s;
}

.sidebar {
    margin-right: -40px;
    padding: 10px;
}

.sidebar-img {
    margin-left: -25px;
    margin-top: 70px;
    width: 200px;
    height: 200px;
    position: relative;

}
.sidebar-img:hover {
    animation-name: hop;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

.content {
    flex: 1;
    padding: 15px;
}
#interests li:hover {
    color:blueviolet;
}

/* interests section styles */
#interests {
    border: 4px rgb(77, 0, 150) ridge;
    padding: 20px;
    margin-top: 20px;
}

h2, h3 {
    margin: 20px;
}
/* Portfolio styles */
.content h1 {
    color: black;
  }
  
  #portfolio {
    list-style-type: none;
    padding-left: 0;
  }
  
  #portfolio li {
    background: #db8eff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  #portfolio li:hover, #portfolio a:hover {
    background: #590083;

  }
  
  #portfolio a {
    text-decoration: none;
    color: #5a0b0b;
  }
  #portfolio a:hover {
    color:rgb(248, 148, 148);
  }