@keyframes myAnimation {
    0%   {background-color: rgb(208, 91, 255);}
    25%  {background-color: rgb(180, 84, 209);}
    50%  {background-color: rgb(211, 83, 243);}
    100% {background-color: rgb(208, 91, 255);}
  }

body {
    background: rgb(246, 152, 255);
    color: rgb(134, 0, 0);
    padding: 10px;
    font-family: Arial, sans-serif;
}

#all-contents {
    max-width: 800px;
    margin: auto;
}

/* navigation menu */
nav {
    background: rgb(199, 102, 255);
    margin: 0 auto;
    display: flex;
    padding: 10px;
    border-radius: 5px;
}

h1 {
    display: flex;
    align-items: center;
    color: rgb(79, 0, 143);
    flex: 1;
    margin: 0;
    border-radius: 20px;
}

#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-li {
    display: inline-block;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main container area beneath menu */
main {
    background: rgb(233, 219, 245);
    display: flex;
    margin-top: 20px;
    animation-name: myAnimation;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.sidebar {
    margin-right: 25px;
    padding: 10px;
}

.sidebar-img {
    width: 200px;
}

.content {
    flex: 1;
    padding: 15px;
}

/* interests section styles */
#interests {
    border: 4px rgb(25, 0, 48) ridge;
    padding: 20px;
    margin-top: 20px;
}

h2, h3 {
    margin: 20px;
}
